    <div class="ui container">
      <div class="ui large secondary blue pointing menu">
        <a href="/list" class="item {{ a1 }}">Vendor List</a>
        <!-- <a href="/" class="item {{ a2 }}">Uncompleted</a> -->
        <!-- <a href="/completed" class="item {{ a3 }}">Completed</a> -->
        <div class="right item">
          <a class="ui blue basic button">Log in</a>
          <a class="ui blue basic button">Sign Up</a>
          <a class="item" href="/about">About</a>
        </div>
      </div>
    </div>
